:root{
    --task-button-color: #242424;
    --task-color: #06a4b9;
    --task-hover-color: #04738f;
    --background-color-main: #98c1d9;
    --background-color-secondary: #242424;
    --background-color-secondary-light: #ee6c4d;
    --typography-color-main: #000000;
}

body {
    background-color: var(--background-color-main);
}

.botooon{
    margin-top: -20px;
}
.column .column {
    border: 3px solid var(--border-color-column);
    background-color: var(--background-color-secondary);
    border-radius: 10px;
    margin: 50px;
    padding: 0;
    min-height: 300px; /* Altura mínima para el contenedor */
}


.column-name {
    color: var(--typography-color-main);
    width: 100%;
    padding: 10px;
    text-align: center;
    margin:0px;
    border: 10px solid var(--background-color-secondary);
    border-radius: 15px;
    background-color:#f16c2f;
    border-radius: 50px;
    margin-bottom: 5px;
    box-shadow: inset 0 0 2px rgb(0, 0, 0); /* Sombra interior */
    
}

.create-task-button {
    border: 0;
    background-color: var(--task-button-color);
    width: 100%;
}

.boootondash{
    background-color: #04738f;
}

.task {
    background-color: var(--task-color);
    color: white;
    padding: 20px;
    margin: 5px 0;
    border-radius: 3px;
    cursor: pointer;
}

.tasks{
    border: 10px solid var(--background-color-secondary);
    border-radius: 15px;
    background-color: var(--background-color-secondary-light);
    padding: 10px;
    min-height: 310px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra interior */
}

.task:hover {
    background-color: var(--task-hover-color);
}


.titulo-dashboard{
    margin-bottom: 100px;
    font-weight: bold;   
    color:white;  
}

.navbar.color {
    background: #3d5a80;  /* fallback for old browsers */
}


.crearTablero{
    
        max-width: 300px; /* Ancho máximo de la tarjeta */
        margin: auto; /* Centrar la tarjeta */
    
    
}

.navbar-brand {
    font-size: 2rem; /* Aumentar el tamaño de la fuente */
    font-weight: bold; /* Hacer la fuente más gruesa */
    color: #ffffff; /* Cambiar el color del texto a blanco */
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5); /* Sombra más fuerte */
    transition: all 0.3s; /* Añadir transición suave */
}

.navbar-brand:hover {
    color: var(--background-color-secondary-light); /* Color amarillo claro al pasar el ratón */
    transform: scale(1.05); /* Aumentar ligeramente al pasar el ratón */
}
