body {
    background-color: #E4E0E1;
}

.column {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    min-height: 200px;
}

.task {
    background-color: #007bff;
    color: white;
    padding: 8px;
    margin: 5px 0;
    border-radius: 3px;
    cursor: pointer;
}

.task:hover {
    background-color: #0056b3;
}

.color{
    background: #e96443;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Estilo para el logo en la barra de navegación */
.navbar {
    background: #e96443; /* fondo del navbar */
    background: -webkit-linear-gradient(to right, #904e95, #e96443); /* degradado para navegadores antiguos */
    background: linear-gradient(to right, #904e95, #e96443); /* degradado moderno */
}

.navbar-brand {
    font-size: 2rem; /* Aumentar el tamaño de la fuente */
    font-weight: bold; /* Hacer la fuente más gruesa */
    color: #ffffff; /* Cambiar el color del texto a blanco */
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5); /* Sombra más fuerte */
    transition: all 0.3s; /* Añadir transición suave */
}

.navbar-brand:hover {
    color: #ffe600; /* Color amarillo claro al pasar el ratón */
    transform: scale(1.05); /* Aumentar ligeramente al pasar el ratón */
}
